body {
  text-align: center;
  background-color: lightgrey;
  margin: 0;
  padding: 0;
}

h6 {
  display: inline;
}

.card-title {
  font-weight: bold;
  font-family: Oswald;
}

#insight2 {
  padding-top: 5px;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 0.5;
}

.line-average {
  stroke: black;
  stroke-dasharray: 5,5;
}

.text-average {
  fill: black;
}

.area {
  fill: #fee090;
}

.danger-area {
  fill: #fc8d59;
}

button {
  color: white;
}

.btnNeutral {
  background-color: white;
  color: black;
}

.btnGreen {
  background-color: #009E73;
}

.btnYellow {
  background-color: #F0E442;
  color: black;
}

.btnBlue {
  background-color: #0072B2;
}

.btnRed {
  background-color: #E69F00;
}

header {
  background: rgba(57,57,57, 0.76) url(pic/banner.png);
  min-height: 560px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  position: relative;
}

header h4 {
  animation: slideIn 0.7s 0.3s both ease;
  font-weight: bolder;
}

header h5 {
  animation: slideIn 0.7s 0.4s both ease;
}

header a {
  animation: slideIn 0.7s 0.5s both ease;
}

header h4, header h5 {
  position: relative;
}

header h3 {
  margin-top: 70px;
}

.circle li {
  list-style-type: circle !important;
  list-style-position: inside;
}
